- @no_breadcrumb_container = true
- @no_container = true
- @html_class = "group-epics-roadmap-html"
- @body_class = "group-epics-roadmap-body"
- @content_wrapper_class = "group-epics-roadmap-wrapper"
- @content_class = "group-epics-roadmap"
- breadcrumb_title _("Epics Roadmap")
- sub_epics_feature_available = @group.feature_available?(:subepics)
- allow_sub_epics = sub_epics_feature_available ? 'true' : 'false'
- page_title _("Epics Roadmap")
- add_page_specific_style 'page_bundles/roadmap'

- has_filters_applied = params[:label_name].present? || params[:author_username].present? || params[:search].present?

- if @epics_count != 0
  - if !Feature.enabled?(:async_filtering, @group, default_enabled: true)
    = render 'shared/epic/search_bar', type: :epics, show_roadmap_presets: true, hide_extra_sort_options: true

  #js-roadmap{ data: { epics_path: group_epics_path(@group, format: :json),
    group_id: @group.id,
    full_path: @group.full_path,
    empty_state_illustration: image_path('illustrations/epics/roadmap.svg'),
    has_filters_applied: "#{has_filters_applied}",
    new_epic_endpoint: group_epics_path(@group),
    group_labels_endpoint: group_labels_path(@group, format: :json),
    group_milestones_endpoint: group_milestones_path(@group, format: :json),
    preset_type: roadmap_layout,
    epics_state: @epics_state,
    sorted_by: @sort,
    allow_sub_epics: allow_sub_epics } }

- else
  = render 'shared/empty_states/roadmap'
